

{{!-- {{#if userInSession}}
  <h2>Hello, {{userInSession.username}}!</h2>
{{/if}} --}}


  {{!-- <h2>Hello, {{userInSession.username}}!</h2> --}}

<h2>Write today's journal</h2>

<form action ="/daily-journal" method = "Post">
<label for ="title">Title:
    <input type="text" id = "journal-title" name ="title"/>
</label>
<br>
<label for ="content">Journal Content:
    <input type="text" id="journal-content" name ="content"/>
</label>
<br>
<label for ="date">Date:
    <input type="date" id ="post_date" name ="post_date"/>
</label>
<br>
{{!-- <label for="joural-author"> Created by:

  <input type="text" id="journal-author" name ="author"/> --}}
    {{!-- <select name="author">
      <option disable selected value=""></option> --}}
      {{!-- {{#each journalUser}}
       {{this.username}}  --}}
        {{!-- <option value="{{this._id}}"> {{this.username}} </option> --}}
      {{!-- {{/each}} --}}
    {{!-- </select> --}}
  {{!-- </label> --}}
<button type="submit"> Create your Journal </button>
</form>

<a href="/userProfile">Go back to Dashboard</a>
<br>
<a href="/journal-list">Check Your Journals</a>

