{{!-- LOGIN HEADBAR --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
style="background-color: rgb(27, 34, 80) !important;">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-brand navbar-nav ms-auto mb-2 mb-lg-0">
      <a class="nav-link mb-2 h1 fs-0 text-white" href="/">Hugger &#128151</a>
      <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
      </form>
      </div>
    </div>
  </div>
</nav>

{{!-- END --}}

<section class ="background-section"> 
<div class="bg-indigo text-white">
<div class="writejournal-textbox">
<strong><h2> {{journal.title}}</h2> </strong>
</div>

 <div class="row">
  <div class="col-sm-6">
  
<div class="journal-content-padding-box"> 
<div class="form-outline mb-4"> 
 <strong>Created At: </strong>
  {{journal.createdAt}}
</div>
</div>

<div class="journal-content-padding-box"> 
<div class="form-outline mb-4">  
  <strong>Content: </strong>
  {{journal.content}}
</div>
</div>

<div class="journal-content-padding-box"> 
<div class="form-outline mb-4">  
<div class="image-center"> 
  <img src="{{journal.imageUrl}}" class="card-img-top mx-auto" id = "journal-list-image" alt="{{journal.title}}">
   </div>
  </div>
</div>


{{!-- <a href="/daily-journal/{{journal._id}}/edit"><button class="edit-button">Edit this journal 📝 </button></a> --}}

<div class="detail-btn"> 
  <a href="/daily-journal/{{journal._id}}/edit"><button type = "submit" class="btn btn-warning fw-bold mr-2">Edit the Journal</button></a>
  <form action="/daily-journal/{{journal._id}}/delete" method="POST">
  <button class ="btn btn-secondary">Delete the Journal</button>
  </form> 
  </div>
  <div class ="link-btns"> 
  <a href="/journal-list"><button class ="btn btn-link">Back to Journals</button></a>
  <a href="/userProfile"><button class ="btn btn-link">Back to Profile</button></a>
</div>





 </div>
 </div> 
 </section>