<div class="bg-indigo text-white"> 
<div class ="journal-section">
  <div class="myjournals-textbox"> 
<h2>My Journals</h2>
</div>
  {{#each journals}}
    <div class="col-md-4 mb-5"> 
        <div class="card" style="width: 18rem;">
        <img src="{{this.imageUrl}}" class="card-img-top" alt="{{this.title}}">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="created-date">Created at: {{ this.createdAt }}</p>
        <a href="/daily-journal/{{_id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/daily-journal/{{_id}}" class="btn btn-primary">See</a>
        </div>
      </div>
      </div>
 <div class="row"> 
  {{#each journals}} 
    <div class="col-sm-4 mb-5">   
      <div class="journal-card-container"> 
   <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="text-center"> 
           <img src="{{this.imageUrl}}" class="card-img-top mx-auto" id = "journal-list-image" alt="{{this.title}}">
           </div>
           <div class="card-body">
           
            <h5 class="card-title"> <a href="/daily-journal/{{_id}}">{{this.title}}</a></h5>
           
           
            <p class="card-text">Created at: {{ this.createdAt }}</p>
            
          
           <a href="/daily-journal/{{_id}}/edit" class="btn btn-primary fw-bold mr-2">Edit</a>
           
      
          </div>
          </div>
          </div>
  </div>
      {{else}}
<p>There are no journals yet!😉 Start journaling Here!</p> 
  {{/each}}
  
  </div>

 <div class="text-center"> 
<a href="/daily-journal"><button class ="btn btn-warning btn-lg mb-5">Back to Journaling</button></a>
  </div>
</div>
</div>