{{! views/users/user-profile.hbs }}

{{!-- {{#if userInSession}}
  <h2>Hello, {{userInSession.username}}!</h2>
{{/if}} --}}

<div>
  <div class="profile-details">
    <img src=`{{user.avatar}}` alt=`{{user.username}} Avatar` class="avatar" />
    <p>Username: {{user.username}}</p>
    <p>Full Name: {{user.username}}</p>
    <br>
    <a href='/userProfile/edit/{{_id}}' class="edit-profile"><button class="styled-button">Edit Profile</button></a>
  </div>

  <div>
    <a href="/community"><button class="styled-button">Go to the Community</button></a>
    <a href="/daily-journal"><button class="styled-button">Add a Journal Entry</button></a>
  </div>

  <div class="profile-body">
    <div>
      <h2>Daily status check-in</h2>
      <h3>How are you feeling today?</h3>
      <h4>Select Your Mood:</h4>
      <form class="emojies" action="/submit-mood" method="post">
        {{#each emojies}}
          <input type="radio" name="selectedMood" value="{{name}}" />
          {{emoji}}
          {{name}}
        {{/each}}
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h2>Daily recommendation</h2>
      <p>Placeholder for suggestion</p>
    </div>
    <div>
      <h2>Activity</h2>
      <p>Placeholder for post tracking</p>
    </div>
  </div>
</div>