{{!-- 

<div class="yoga-container">
    <h1>Daily Yoga</h1>
    <div class="pose-container">
      {{#each poses}} 
<img src="{{this.url_png}}" alt="{{this.english_name}}" class="yoga-pose-picture">
  <h3>{{this.english_name}}</h3>
  <p><strong>How to do:</strong></p>
  <p>{{this.pose_description}}</p>
 <strong>Benefits:</strong></p>
  <p>{{this.pose_benefits}}</p>
      {{/each}}
       </div>
</div> --}}






{{!-- <img id="random-pose-image" src="" alt="">
  <h3 id="pose-name"></h3>
  <p><strong>How to do:</strong></p>
  <p id="pose-description"></p>
 <strong>Benefits:</strong></p>
  <p id="pose-benefits"></p> --}}

function getRandomPose() {
    let randomIndex = Math.floor(Math.random() * poses.length);
    return poses[randomIndex];
  }


  window.addEventListener('load', function () {
    let randomPose = getRandomPose();

    // Set the image source, alt text, and content for the selected pose
    document.getElementById('random-pose-image').src = randomPose.url_png;
    document.getElementById('random-pose-image').alt = randomPose.english_name;
    document.getElementById('pose-name').textContent = randomPose.english_name;
    document.getElementById('pose-description').textContent = randomPose.pose_description;
    document.getElementById('pose-benefits').textContent = randomPose.pose_benefits;
  });